/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
.button {
    display: inline-block;
    color: white;
    background-color: #fe775a;
    border-radius: 5px;
    padding: 20px 35px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #33475b ;
    
}

a{
    color: #33475b;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.container2 {
    width: 75%;
    margin: 0 auto;
    padding-right: 2%;
}

.text-centered {
    text-align: center;
}
/*layout a due colonne*/

.two-col .col {
    width: 50%;    
}

/* layout a tre colonne */

.three-col .col {
    width: 30%;
}

.three-col .col:nth-child(2) {
    margin: 0 5%;
}

/* layout a quattro colonne */

.four-col .col {
    width: 25%;
}

/* Clearfix and cols generiche */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}

/*HEADER*/

/* Nav */


.nav-top {
    background-color: #f4f9fd;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #33475b;
}

header .menu {
    list-style-type: none;
}

header .menu li {
    display: inline-block;    
    padding-top: 20px;
    padding-bottom: 10px;
}

header .menu a {    
    text-decoration: none;
    font-size: 15px;
    
}

.menu span {
    padding-left: 10px;
    padding-right: 13px;    
}

.col-right .menu {
    text-align: right;
    
}

.fa-search {
    font-size: 13px;
    color: #2cb3c8;
}

.col-right .menu li {
    padding-right: 15px;
    padding-top: 10px;
}

.col-right .menu .login {
    color: #fe775a;
    border-radius: 5px;
    padding: 8px 8px;
    border: 1px solid #fe775a;
}

.nav-top .button {
    color: white;
    background-color: #fe775a;
    border-radius: 5px;
    padding: 8px 8px;
}

.nav-bottom {    
    padding-bottom: 8px;
}

.nav-bottom .col-right {
    padding-top: 16px;    
    padding-bottom: 9px;
}

.col-logo {
    padding-top: 20px; 
    padding-bottom: 9px;   
}

.col-logo img {
    width: 20%;
}
/* jumbotron */

.jumbotron {
    height: 570px;      
    background-color: #fff4ef; 
    color: #fef6ef;  
    background-image: url("../img/jumbotron.png");
    background-size: cover;    
    
}

.j-text {
    width: 50%;
    color: #33475b;   
    padding-top: 50px;
    
}

.j-text h1 {
    font-size: 50px;    
}

.j-text p {
    padding: 20px 0 ;
    line-height: 25px;
    font-weight: 500;
}

.j-text .button {
    margin-top: 20px;
    margin-bottom: 35px;
}

.j-text h3 {
    font-size: 13px;
    font-weight: normal;
}

.acqua-line {
    height: 80px;
    background-color: #afebe4;
    border-top: 3px solid  #33475b;
    border-bottom: 3px solid  #33475b;
}

/* MAIN */
/*Plans-offer*/

.plans-offer {
    background-color: #f4f9fd;
    padding-bottom: 40px;
}

.plans-offer .po-descr {
    padding: 20px 0;
}

.plans-offer .po-descr img {
    height: 150px;
    width: auto;        
}
.po-descr h2 {
    font-size: 35px;
}

.po-descr p {
    line-height: 25px;
    padding: 20px 40px;
}

/*free-hub */

.free-hub {
    background-color: white;
    margin-bottom: 40px;
    border-radius: 5px;    
}

.two-col .free-left {
    padding: 50px;
    
    width: 30%;
    text-align: center;
}

.two-col .free-right {
    padding: 50px 0;    
    width: 70%;
    line-height: 25px;
}

.plans-offer img {
    height: 100px;
    width: auto;
    margin-bottom: 10px;
    
}

.two-col .free-right p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.two-col .free-right h3 {
    display: inline-block;
}

.free-hub .two-col .free-right .big-divider {
    display: inline-block;
    width: 60%;
    border-top: 1px solid #33475b;
    padding-top: 5px;
    margin-left: 30px;
}

.free-right ul li {
    display: inline-block;    
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.free-right ul li i {    
    padding-right: 10px;
}


.check {
    color: #fe775a;  
    padding-right: 10px;
}


.divider{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #33475b;;
    margin-top: 50px;
    margin-bottom: 40px;
}


.col-offer {
    background-color: white;
    border-radius: 5px; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;  
      
}

.col-offer h2 {
    padding-bottom: 25px;
    
}

.col-offer p {
    line-height: 25px;
    font-weight: 400;
}

.col-offer ul {
    text-align: left;
    padding-bottom: 30px;
}

.col-offer h3 {
    padding-bottom: 20px;
}

/* awards */

.awards {
    padding-top: 35px;
    padding-bottom: 70px;
    background: rgb(0,165,187);
    background: linear-gradient(54deg, rgba(0,165,187,1) 20%, rgba(0,178,175,1) 47%, rgba(0,187,168,1) 89%);
    color: white;
    
}

.awards h2 {
    padding-bottom: 20px;    
}

.awards p {
    padding-bottom: 50px;    
    line-height: 25px;
    font-size: 15px;
}

.four-col .b-right {            
    border-right: 1px solid white;
}

.four-col .b-bottom {            
    border-bottom: 1px solid white;
}

.col-awards img {
    margin-top: 20px;    
    height: 30px;
    width: auto;
}

.awards h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;

}

.awards h3 span {
    display: inline-block;
    font-size: 22px;
    font-weight: normal; 
    vertical-align: middle;   
    
}
/*customers-partners */
.customers-partners{
    padding-top: 50px;
    padding-bottom: 40px;
}

.customers-partners img {    
    width: 20%;
    vertical-align: middle;
}

.customers-partners .col-left {
    width: 40%;
}

.customers-partners .col-right {    
    width: 60%;
    
}

.customers-partners .col-left h2 {
    font-size: 45px;
    padding-bottom: 30px;
    padding-left: 20%;
}

.customers-partners .col-left p {
    padding-left: 20%;
    line-height: 25px;
    font-size: 15px;
    text-align: left;    
}

.customers-partners .fr-img {
    padding-bottom: 20px;
    padding-top: 30px; 
}

/* start-grow */

.start-grow  {    
    padding-top: 30px;
    padding-bottom: 30px;
}

.start-grow .col-left {
    padding: 0 30px;
}

.start-grow .col-left h2 {
    
    font-size: 30px;
    
}

.start-grow .col-left p {
    line-height: 20px;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.start-grow .col-left h3 {
    font-weight: normal;
    font-size: 11px;
    padding-top: 40px;
}


.start-grow img {
    height: 300px;
    width: auto;    
}

.start-grow .col-right {
    text-align: right;
}

/* FOOTER */

footer {
    background-color: #32495b;
    color: #dadee0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
}

footer a {    
    font-weight: normal;
    text-decoration: none;
    color: #dadee0;
}
/* service-menu*/

.service-menu {
    font-size: 14px;
}

.service-menu li {
    padding-bottom: 15px ;
}

.service-menu li h4 {
    padding-bottom: 18px;
    color: white ;
}

.service-menu .sm-col {
    padding-left: 30px ;
    padding-right: 30px ;
}

.bs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-support {    
    color: #33475b;
    border-radius: 5px;
    padding: 8px 6px;
    background-color: #dadee0;    
}

.service-menu .icons a {
    padding-right: 20px;
    
}

/* language */

.language {
    text-align: center; 
    padding-top: 40px;  
    padding-bottom: 20px; 
}

.languages li {
    display: inline-block;
    padding-right: 10px;
}

/* legal */

.legal {
    padding-top: 20px;   
}

.legal .col-left {
    text-align: left;
}

.legal .col-right {
    text-align: right;
}

.legal img {
    height: 50px;
    width: 20%;
}

.legal li {
    display: inline-block;
    padding-right: 10px;
}






